src/test/resources/localXml/ParkingTpsReel_Description.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">
    <xs:element name="park">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DateTime" type="xs:dateTime"/>
                <xs:element name="Name" type="xs:string"/>
                <xs:element name="Status" type="xs:string"/>
                <xs:element name="Free" type="xs:integer"/>
                <xs:element name="Total" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
